<div class="content-background p-2">
  <h1 class="page-title">Empresa</h1>

  <button class="btn btn-primary mb-3" routerLink="/empresa/novo">
    Cadastrar
  </button>

  <!-- Lista de garagens -->
  <table class="table table-dark">
    <thead>
      <tr>
        <th class="text-center col-ml-1">Nome</th>
        <th class="text-center col-ml-2">Pais</th>
        <th class="text-center col-ml-1">Ações</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let empresa of empresas">
        <td class="text-center">
          <button
            class="btn btn-link"
            [routerLink]="['/empresa/visualizar', empresa.id]"
          >
            {{ empresa.nome }}
          </button>
        </td>

        <td class="text-center">{{ empresa.endereco.pais.nome }}</td>
        <td class="text-center ">
          <button
            class="btn btn-primary ml-2"
            [routerLink]="['/empresa/editar', empresa.id]"
          >
            Editar
          </button>
          <button class="btn btn-primary ml-2" (click)="onDelete(empresa.id)">
            Deletar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
