<body>
  <div class="show content-background">
    <section class="col-md-12 rola">
      <h1>Bem-vindo ao #CupomLy</h1>
      <hr />
      <h2>Ache seus cupons aqui!</h2>
    </section>
    <section id="cadastro" class="col-md-4">
        Procurando por desconto para comprar em lojas famosas? Aqui no CupomLy oferecemos os melhores cupons de desconto para você pagar menos em suas compras! Escolha os cupons de desconto, as ofertas são confiáveis e pague menos comprando online.

        Oferecemos grátis os melhores cupons de desconto disponíveis no Brasil inteiro com as melhores ofertas.

        Não cobramos nada para você usar os nossos cupons de descontos e os códigos promocionais em nosso site. É totalmente grátis e não requer nem inscrição, mas recomendamos que você se inscreva no nosso site para receber as ofertas e promoções diárias em suas lojas favoritas.
    </section>
  </div>
</body>
