
h1{
  color:purple;
}
h2{
  color: aqua;
}
#cadastro{
  color: rgb(255, 251, 251);
  text-align: justify;
  padding-top: 30px;
  font-size: 18px;
}

h1,h2{
  padding-top: 20px;
  text-align: center;
}
