* {
  box-sizing: border-box;
}
body {
  background: url('https://4.bp.blogspot.com/-RB7xpnSaDhA/WgJNFaNabFI/AAAAAAAAFls/-o3B3FbdvwgMT5D77eTDXwCvvPw1d9ZTwCLcBGAs/s2560/references_4k-2560x1440.jpg')
    fixed center no-repeat;
  background-size: 100vw 100vh;
  width: 100%;
}
.navbar {
  background-color: rgba(0, 0, 0, 0.4);
}
.c1 {
  margin-left: 5px;
  color: white;
}
button {
  margin-top: 5px;
  margin-left: 5px;
}
.show {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
hr {
  background-color: white;
  box-shadow: 0px 0px 2px 1px;
}
.potaria {
  background: rgba(255, 255, 255, 1);
  border-radius: 10px;
  opacity: 1;
  width: 80%;
  margin-top: 15px;
}
.logo {
  width: 120px;
}
.rola {
  color: white;
  align-self: center;
  border-radius: 10px;
  opacity: 1;
  width: 80%;
  margin-top: 40px;
}
footer {
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 65px;
}
@media only screen and (min-width: 600px) {
  .show {
    margin-right: 10px;
  }
  button {
    margin-top: 0;
    margin-left: 5px;
  }
}
@media only screen and (min-width: 768px) {
  .show {
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  }
  .potaria {
    margin-top: 65px;
  }
  .rola {
    margin-right: 20px;
  }
  button {
    margin-left: 5px;
    margin-top: 0;
  }
}
