<body>
  <div class="show content-background">
    <section class="col-md-12 rola">
      <h1>Bem-vindo ao site #BMW</h1>
      <hr>
      <h2>Cadastre seu carro e sua garagem aqui!</h2>
    </section>
    <section id="cadastro" class="col-md-4">
      <div class="container box2 col-sm-12">
        <div class="row">
          <div class="col-lg-8 mx-auto"></div>
          <h3>Mussum Ipsum, cacilds vidis litro abertis. Atirei o pau no gatis, per gatis num morreus. Admodum accumsan disputationi eu sit. Vide electram sadipscing et per. In elementis mé pra quem é amistosis quis leo. Mais vale um bebadis conhecidiss, que um alcoolatra anonimis.</h3>
        </div>
      </div>
    </section>
  </div>
</body>
